@import "general";

.color {
  font-size: 4.8rem;
}

.btn-switch {
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  margin-top: 4.8rem;
  cursor: pointer;
}
